
* {
    font-family: Blippo, fantasy;
}

.header {
  background-image: url(./images/490EF78A-17A7-4FE4-B64D-F45AD204FE14_4_5005_c.jpeg);
  text-align:left;
  height: 250px;
  width: 100%;
}
li {
    display: inline-block;
    padding: 10px;
    float: right;
    font-size: 25px;
    padding-top: 0;
    
}

body{
    background-color:rgb(219, 239, 219);
    color:rgba(40, 108, 24, 0.935);
}

h2 {
    color:darkgreen;
    padding-top: 40px, 0, 0, 0;
}
h1{
    font-size: 40px;
    color:rgb(31, 64, 31);
}

p{
    padding: 20px;
    border-style:double;
    border-color:rgb(128, 149, 128), rgb(81, 84, 81);
    border-radius: 15px;
}

/* new code below*/

a:link {
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(197, 201, 197);
  background-color: transparent;
  text-decoration: underline;
}

.profile {
  float: right;
  padding: 30px;
  border-radius: 15px;
}

.content {
  padding: 20px;
}

.projectpic {
  float: right;
  padding:30px;
}

.my-projects {
  column-count: 2;
  column-width: 45%;
  display:inline-block;
}

.projectpic2 {
  float:right;
  padding: 30px;
}
/*
.about-me {
  column-count: 3;
  column-gap: 20px;
}

.contact-me {
  column-count: 3;
  column-gap: 20px;
}